<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
   <head>
      <title th:utext="${title}"></title>
   </head>
   
   <style>
      table th, table td
      {
         padding: 5px;
      }
      .message
      {
         color: blue;
      }
   </style>
    
   <body>
      <!-- Include _main.html -->
      <th:block th:include="/_main"></th:block>  
       
      <h2>Accounts</h2>
      
      <table border="1">
            <tr>
               <th>Account ID</th>
               <th>First Name</th>
               <th>Last Name</th>
               <th>Edit</th>
               <th>Delete</th>
            </tr>
            <tr th:each ="account : ${accounts}">
               <form th:action="@{/editAccount}" th:object="${accountForm}" method="POST">
               	  <td input type="text" name="accountId" th:value="${account.accountId}" th:utext="${account.accountId}" /></td>
           		  <td input type="text" th:utext="${account.firstName}" /></td>
               	  <td input type="text" th:utext="${account.lastName}" /></td>
               	  <td><input type="submit" value="Edit" /</td>
               	  <td><input type="submit" value="Delete" th:formaction="@{/accounts}" /></td>
               </form>
            </tr>
      </table>
   </body>
</html>