<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
   <head>
      <title th:utext="${title}"></title>
   </head>
    
   <style>
      table th, table td
      {
         padding: 5px;
      }
      .message
      {
         color: blue;
      }
   </style>
    
   <body>
    
      <!-- Include _main.html -->
      <th:block th:include="/_main"></th:block>  
       
      <h2>Accounts</h2>
       
    
       
      <table border="1">
            <tr>
               <th>Account ID</th>
               <th>First Name</th>
               <th>Last Name</th>
               <th>Edit</th>
               <th>Delete</th>
            </tr>
            <tr th:each ="account : ${accounts}">
               <td input type="text" th:utext="${account.accountId}" readonly form="editform" "deleteform"/></td>
               <td th:utext="${account.firstName}">...</td>
               <td th:utext="${account.lastName}">...</td>
               <td><form action="http://localhost:8080/editAccount" id="editform"><button type="submit" value="Edit">Edit</button></form></td>
               <td><form action="http://localhost:8080/accounts" id="deleteform"><button type="submit" value="Delete">Delete</button></form></td>
            </tr>
      </table>
       
   </body>
</html>